/* General Styles */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Header Section */
  .hero-container {
    background: url('./images/pic_1.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    color: white;
    min-height: 60vh;
    background-attachment: scroll;
}
  
  /* Navbar Styles */
  .navbar {
    background-color: transparent !important; /* Ensure navbar is transparent */
    padding: 1rem 2rem; /* Adjust padding as needed */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .navbar-brand {
    color: white;
  }
  
  .navbar .navbar-nav .nav-link {
    color: white;
  }
  
  .navbar .navbar-toggler {
    border-color: white;
  }
  
  
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  /* Custom Logo Sizes */
  .logo-smile {
    max-width: 50px; /* Adjust size as necessary */
    height: auto; /* Keeps the aspect ratio */
  }

  .logo-text {
    max-width: 150px; /* Adjust size as necessary */
    height: auto; /* Keeps the aspect ratio */
  }

  /* Keep logos aligned and centered vertically */
  .navbar-brand {
    display: flex;
    align-items: center;
  }

  /* Add some spacing between the logos if necessary */
  .logo-smile {
    margin-right: 10px; /* Adjust spacing as necessary */
  }

  
  /* Hero Content */
  .hero-content {
    padding: 10vh 0; /* Adjust padding to suit your layout */
    text-align: center;
    margin-bottom: 0;
  }

  .hero-content h1 {
    font-size: 3rem; /* Adjust font size as needed */
    margin-bottom: 0.5rem;
  }

  .hero-content .tagline {
    font-size: 1.5rem; /* Adjust font size as needed */
    margin-bottom: 1rem;
  }

  .hero-content .btn-lg, .membership-section .btn-lg {
    padding: 0.75rem 1.25rem; /* Match header button padding */
    border-radius: 30px; /* Match header button border radius */
    font-weight: bold; /* Match header button font weight */
    color: #fff; /* Match header button text color */
    background-color: #C271FF; /* Match header button background color */
    /* Include any other styles that the header button has */
  }

  /* New style for highlighting the word 'Learn' */
  .highlight {
    color: #C271FF; /* Custom color for the word 'Learn' */
  }
    /* Awards Section Styles */
  .award-section {
      margin-top: -100px; /* Adjust negative margin to pull the section upwards */
  }
  
  /* Award Profile Styles */
  /* Adjust these styles to make sure they match the design */
  .col-xl-3.col-6.col-sm-3 {
    margin-bottom: 1rem;
  }
  
  .col-xl-3.col-6.col-sm-3 img {
    width: 140px; /* Adjust width as needed */
    height: 140px; /* Adjust height as needed */
    border-radius: 50%; /* Make it round */
    margin-bottom: 0.5rem;
  }
  
  .col-xl-3.col-6.col-sm-3 h2 {
    font-size: 1.25rem; /* Adjust font size as needed */
    color: #fffafa; /* Adjust color as needed */
  }
  
  .col-xl-3.col-6.col-sm-3 p {
    color: #ffffff; /* Adjust font color as needed */
  }

  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .hero-container {
        background-attachment: scroll; /* Change background attachment for mobile */
    }
    .hero-content {
        min-height: 30vh;
        padding: 20vh 0;
    }
  }

  /* Styles for mobile screens */
  @media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack elements vertically */
    width: 100%; /* Ensures navbar takes the full width */
    padding-left: 0; /* Removes padding from the left */
    padding-right: 0; /* Removes padding from the right */
  }

  .navbar .navbar-toggler {
    position: absolute; /* Positions the hamburger menu absolutely */
    top: 0; /* At the top of the navbar */
    left: 0; /* At the left of the navbar */
    padding-left: 1rem; /* Adds some space from the left edge */
  }

  .navbar-brand {
    width: 100%;
    justify-content: center;
    order: 1;
    margin-top: 1rem; /* Adjust if more space is needed */
  }

  .logo-smile {
    position: absolute;
    top: -45px; /* Adjust this value to move the image up or down */
    left: 50%;
    transform: translateX(-50%);
    max-width: 80px; /* Reduce the size if it's too large */
    z-index: 10; /* Make sure it's above the text */
  }
  
  .logo-text {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  /* Additional adjustment to hero container for mobile */
  .hero-container {
    min-height: auto; /* Adjust based on your design */
    padding: 4rem 0; /* Give some space at the top and bottom */
  }
  
  /* Since we've added flex-start to the hamburger, let's make sure the logo is centered */
  .navbar-brand {
    width: 100%; /* Take full width to allow centering */
    justify-content: center; /* Center the logo */
    margin-top: 0rem; /* Provide some spacing from the hamburger menu */
  }

    .hamburger-menu {
      align-self: flex-start; /* Align hamburger to the start (left) */
    }
  }

  /* Carousel of Quotes */
  .carousel {
    background-color: #C271FF; /* Set the background color */
  }
  .carousel-item {
    margin: 2rem auto;
    max-width: 80%;
  }

  .carousel-control-prev, .carousel-control-next {
    filter: invert(100%); /* Make the arrows white */
  } 

  /* Carousel Image Styles */
  .carousel-item .rounded-circle {
    object-fit: cover; /* This will cover the area without stretching the image */
  }

  /* Centering the blockquote in the carousel */
  .carousel-item blockquote {
    max-width: 600px; /* Set a max-width for the text */
    margin: auto; /* Auto margins will center the blockquote */
  }

  /* Adjusting the spacing around the image and blockquote */
  .carousel-item .d-flex {
    gap: 20px; /* You can use gap to create space between items in a flex container */
  }

  /* ---- Popular videos Section ---- */

  img.circle-thumb {
    width: 150px;
    height: 150px;
  }

  img.logo {
    height: 30px;
  }

  img.star {
    height: 15px;
    width: 15px;
  }

  img.circle-thumb-small {
    width: 50px;
    height: 50px;
  }

  /* Video Card Styles */
  .video-card {
    background-color: #f8f8f8; /* Light grey background */
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    position: relative; /* Establish a positioning context */
    overflow: hidden; /* Ensures no content will spill out */
  }

  .video-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
  }

  .video-card img {
    width: 100%; /* Ensure image covers the card */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px 10px 0 0; /* Only round the top corners */
  }

  .video-card .play-button {
    position: absolute; /* Position play button absolutely within the card */
    top: 50%; /* Align to the middle vertically */
    left: 50%; /* Align to the middle horizontally */
    transform: translate(-50%, -50%); /* Center the button exactly */
    width: 64px; /* Set the width of the button */
    height: 64px; /* Set the height of the button */
    background: url('./images/play-button.png') no-repeat center center; /* Add play button image */
    background-size: contain; /* Make sure the image is contained within the element */
    cursor: pointer; /* Change cursor to pointer on hover */
  }

  .video-card .info {
    padding: 1rem; /* Add padding inside the card */
  }

  .video-card .info h4 {
    margin-top: 0; /* Remove top margin from the title */
  }

  .video-card .info .author,
  .video-card .info .duration {
    color: #666; /* Grey color for the text */
    font-size: 0.9rem; /* Small font size for the text */
  }

  .images-reviews {
    position: relative; /* This will serve as the anchor point for the absolute positioning below */
  }
  
  .card-img-top {
    width: 100%; /* Ensures the image stretches to cover the container */
    display: block; /* Remove inline characteristics to fill the width of its parent */
    border-radius: 10px; /* Optional: if you want rounded corners on the image */
  }
  
  .play-button {
    position: absolute; /* Position the play button over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset the button by half its size to truly center it */
    width: 64px; /* Set the width of the button */
    height: 64px; /* Set the height of the button */
    background: url('./images/play.png') no-repeat center center; /* Play button image */
    background-size: contain; /* Ensures the image fits within the button */
    cursor: pointer; /* Change the cursor to indicate the button is clickable */
    /* Add any additional styling you want for the play button here */
  }
  


  .carousel-control-next .carousel-control-next-icon,
  .carousel-control-prev .carousel-control-prev-icon {
    width: 30px; 
    height: 30px;
    color: black;
    background-color: #C271FF;
    border-radius: 20%;
    top: 10%;
    transform: translateY(-62%);
    margin-right: 5rem;
    margin-left: 5rem;
  }

  /* ---- Free membership Section ---- */


  .bg-sectionfree {
    background-color: #071629;    
  }

  .btn-custom {
    color: #fff; /* White text */
    background-color: #C271FF; /* Your desired color */
    border-color: #C271FF; /* Your desired color */
  }

  /* Footer Styles */
  .footer {
    background-color: #1C2331; /* dark background */
    color: white;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px; /* max width similar to Bootstrap's container */
  }

  .footer-logo {
    display: flex;
    align-items: center;
  }

  .footer-logo img {
    margin-right: 10px;
  }

  .footer-social {
    display: flex;
    align-items: center;
  }

  .footer-social .social-link {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    font-size: 24px; /* adjust size as necessary */
  }

  .footer-social .social-link:hover {
    opacity: 0.8;
  }

  .footer-bottom {
    text-align: center;
    padding-top: 10px;
  }

  .footer-bottom p {
    margin: 0;
    font-size: 16px;
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }

    .footer-logo, .footer-social {
      margin-bottom: 10px;
    }
  }

  .footer-social .social-link {
    text-decoration: none;
    color: white;
    margin: 0 10px; /* Adjust spacing as needed */
    font-size: 24px; /* Icon size */
  }
  
  .footer-social .social-link:hover {
    opacity: 0.8;
  }

  .social > svg {
    fill: white;
  }
  
  /* Pricing styles */

  /* Header */
  .pricing {
    background-image: url("images/pic_2.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .logoP {
    width: auto;
    height: 50px;
  }

  /* Pricing Section */
  .pricing-section {
    background-color: #f8f9fa;
    color: #333;
  }

  .pricing-card .card {
    margin: 0 auto; /* Center card */
    border: none;
  }

  .pricing-card .card-header {
    background-color: #eaecef;
    border-bottom: none;
    color: #333;
  }

  .pricing-card .price {
    color: #007bff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .pricing-card .price-big {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .pricing-card ul {
    text-align: left;
  }

  .pricing-card button {
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
  }

  /* Responsive Grid Adjustments */
  @media (max-width: 767px) {
    .pricing-card .card {
      width: auto;
    }
  }

  @media (min-width: 768px) {
    .pricing-card .card {
      width: 100%;
    }
  }

  /* FAQ Section Styles */
  .faq-section {
    background-color: #fff; /* or any color that matches your design */
    padding: 2rem 0;
  }

  .faq-section h2 {
    font-size: 2.5rem; /* Adjust the size as needed */
    color: #333; /* Title color */
    margin-bottom: 1.5rem;
  }

  .faq {
    background: #f8f9fa; /* FAQ item background color */
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .faq h4 {
    font-size: 1.25rem; /* Adjust the size as needed */
    color: #333; /* Question color */
    margin-bottom: 0.5rem;
  }

  .faq p {
    font-size: 1rem; /* Adjust the size as needed */
    color: #666; /* Answer color */
  }

  /* Courses Styling */

  body.courses-page {
    background-image: url("images/pic_3.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 85vh;
  }

  .courseSection {
    background-image: url("images/pic_3.jpg")!important;
    background-repeat: no-repeat;
    background-size: cover;
}

  .courseFont {
    font-size: 32px;
    font-family: 'Coiny'!important;
    font-weight: 400;
}

.courseFont .text-violet {
  color: #C271FF; /* This ensures that 'text-violet' has a higher specificity than 'courseFont' */
}



